
.headerInfo{
    display: table;
}

.headerInfo .logo{
    display: table-cell;
    width: 100px;
    cursor: pointer;
    padding: 0 40px;
}

.headerInfo .text{
    display: table-cell;
    vertical-align: middle;
}

.headerInfo .text .name{
    font-size: 24px;
}

.headerInfo .text .address{
    font-size: 18px;
}

.headerInfo .text .phoneNumber a{
    text-decoration: none;
    color: #333333;
    font-weight: 400;
}

.headerInfo .phoneNumber a:hover {
    color: red;
}
